body {
  overflow-x: hidden;
  background-color: white;
}
.backg {
  background-image: url(/Images/BG11.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.header h1 {
  color: rgb(17, 84, 230);
  text-align: center;
}
.header h2 {
  color: #2bc0e4;
}
.logo-title {
  display: flex;
  justify-content: center;
}
.logo-title img {
  height: 50px;
  width: 50px;
}
.row {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}
.left {
  width: 30%;
  height: 100%;
  float: left;

  flex-direction: column;
}

.right {
  width: 70%;
  padding-top: 40px;
  height: 180vh;

  flex-direction: column;
}
.footer {
  background-color: #2bc0e4;
  padding-top: 10px;
  padding: 20px;
}
.flex {
  display: flex;
  justify-content: space-evenly;
}
.footer a {
  color: black;
  display: block;
}

.responsive-iframe {
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
}

.image-card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 100%;
  padding: 10px;
  text-align: center;
}
.image-card img {
  width: 100%;
  height: 300px;
}
.image-card a {
  background-color: rgb(23, 203, 216);
  color: #fff;
}

.image-card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
.image-container {
  padding: 2px 16px;
  background-color: rgba(229, 235, 234, 0.616);
}

.height-fix {
  height: 400px;
}

.height-set {
  height: 500px;
}
.button-minimize {
  cursor: pointer;
  width: 50px;
  height: auto;
  background-color: rgba(7, 193, 250, 0.616);
  color: #fff;
  border: solid 1px;
  text-align: center;
  float: left;
}

nav {
  background-color: rgb(23, 203, 216);
  width: auto;
}

span {
  color: rgb(23, 203, 216);
}

.table-wrapper {
  font-size: larger;
  width: 100%;
  margin: 30px auto;
  background: rgba(189, 231, 238, 0.616);
  padding: 20px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}
.table-title {
  padding-bottom: 10px;
  margin: 0 0 10px;
}
.table-title h2 {
  margin: 6px 0 0;
  font-size: 22px;
}
.table-title .add-new {
  float: right;
  height: 30px;
  font-weight: bold;
  font-size: 12px;
  text-shadow: none;
  min-width: 100px;
  border-radius: 50px;
  line-height: 13px;
}
.table-title .add-new i {
  margin-right: 4px;
}
table.table {
  table-layout: fixed;
}
table.table tr th,
table.table tr td {
  border-color: #e9e9e9;
}
table.table th i {
  font-size: 13px;
  margin: 0 5px;
  cursor: pointer;
}
table.table th:last-child {
  width: 100px;
}
table.table td a {
  cursor: pointer;
  display: inline-block;
  margin: 0 5px;
  min-width: 24px;
}
table.table td a.add {
  color: #27c46b;
}
table.table td a.edit {
  color: #ffc107;
}
table.table td a.delete {
  color: #e34724;
}
table.table td i {
  font-size: 19px;
}
table.table td a.add i {
  font-size: 24px;
  margin-right: -1px;
  position: relative;
  top: 3px;
}
table.table .form-control {
  height: 32px;
  line-height: 32px;
  box-shadow: none;
  border-radius: 2px;
}
table.table .form-control.error {
  border-color: #f50000;
}
table.table td .add {
  display: none;
}
#minfot {
  cursor: pointer;
  width: 50px;
  height: auto;
  background-color: rgba(7, 193, 250, 0.616);
  color: #fff;
  border: solid 1px;
  text-align: center;
  float: right;
}

@media all and (min-width: 992px) {
  .navbar .nav-item .dropdown-menu {
    display: none;
  }

  .navbar .nav-item:hover .dropdown-menu {
    display: block;
  }
  .navbar .nav-item .dropdown-menu {
    margin-top: 0;
  }
}
