body {
  overflow-x: hidden;
  background-color: white;
}

.header {
  background-color: black;
  color: aliceblue;
}
.header h1 {
  text-align: center;
}
.row {
  display: flex;
  flex-wrap: nowrap;
}
.left {
  width: 70%;
}
.right {
  width: 30%;

  background-color: aliceblue;
}
.home-page {
  border: 1px solid gray;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;

  padding: 10px;
}
.image-card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 49%;
}
.image-card img {
  width: 100%;
  height: 300px;
}

.image-card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.image-container {
  padding: 2px 16px;
  background-color: white;
}

.booking-form-box {
  border: 1px solid gray;
  display: none;
  background-color: white;
}
.radio-btn {
  margin: 0 20px;
}
.radio-btn .btn {
  margin: 20px 10px 20px 0;
  box-shadow: none;
}

.radio-btn span {
  color: black;
  margin-right: 5px;
  font-size: 12px;
}
.booking-form {
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.booking-form input {
  width: 45%;
}
.booking-form label {
  margin-bottom: 5px;
  margin-top: 10px;
  font-size: 12px;
  color: #000 !important;
}
input::placeholder {
  color: #333;
}
.input-grp {
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  width: 32.5%;
}
.btn {
  color: black;
}
.form-control {
  font-size: 12px !important;
  border-radius: 0 !important;
  color: black !important;
  background: transparent !important;
  box-shadow: none !important;
}
.select-date::-webkit-inner-spin-button,
.select-date::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.select-date::-webkit-calender-picker-indicator {
  background: transparent !important;
}
.custom-select {
  color: black !important;
  font-size: 12px !important;
  border: 1px solid black !important;
  box-shadow: none !important;
  border-radius: 0 !important;
}
.custom-select option {
  color: #333;
}
.flight {
  width: 100%;
  padding: 9px 0;
  font-size: 12px;
  border: 1px solid black !important;
  background-color: transparent;
  box-shadow: none !important;
  border-radius: 0 !important;
}
.flight:hover {
  background: black !important;
  color: white !important;
  transition: 0.5s;
}
